body {
    text-align: center;
    background: url("../img/esl.jpg");
    background-position: center;
    background-size: 300%;
}

h1 {
    font-size: 42px;
}

p {
    margin-top: 100%;
}

.clickBait:hover{
    color: dodgerblue;
    font-size: 50px;
    cursor: progress;
}