body
{
	background: url("Ye.jpg") no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
}
.row
{
	height: 33vh;
}
.col-md-3
{
	box-shadow: 2px 2px 49px 6px rgba(199,199,199,1);
	height: 100%;
}